<body style="height: 100%;">
  <% if (positiveMove.length > 0 && !weekend) { %>
    <h2 style="margin-top:20px; width:80%;">Positive Moves</h2>

    <table style="table-layout: fixed;font-family:arial, sans-serif;border-collapse:collapse;width:100%;">
      <tr style="background-color:#dddddd;">
        <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Name</th>
        <th style="border:1px solid #dddddd;text-align:left;padding:8px;">CMP</th>
        <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Recommended Change</th>
      </tr>

      <% for(i=0; i<positiveMove.length; i++) { %>
        <tr>
          <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
            <a href="<%= `${url}/${positiveMove[i].companies.id}` %>" target="_blank"><%= positiveMove[i].companies.name %></a>
          </td>
          <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
            Rs.
            <%= positiveMove[i].companies.price %> 
            <span style="color: green">(<%= positiveMove[i].change %>%)</span>
          </td>
          <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
            Rs. <%= positiveMove[i].recommendedPrice %>

            <% if (positiveMove[i].recommendedSign < 0) { %>
              <span style="color: red">(<%= positiveMove[i].recommendedChange %>%)</span>
           <% } else { %>
              <span style="color:green">(<%= positiveMove[i].recommendedChange %>%)</span>
           <% } %>

          </td>
        </tr>
        <% } %>
    </table>
    <% } %>

      <% if (negativeMove.length > 0 && !weekend) { %>
        <h2 style="margin-top:20px; width:80%;">Negative Moves</h2>

        <table style="table-layout: fixed;font-family:arial, sans-serif;border-collapse:collapse;width:100%;">
          <tr style="background-color:#dddddd;">
            <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Name</th>
            <th style="border:1px solid #dddddd;text-align:left;padding:8px;">CMP</th>
            <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Recommended Change</th>
          </tr>

          <% for(i=0; i<negativeMove.length; i++) { %>
            <tr>
              <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                <a href="<%= `${url}/${negativeMove[i].companies.id}` %>" target="_blank"><%= negativeMove[i].companies.name %></a>
              </td>
              <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                Rs.
                <%= negativeMove[i].companies.price %> 
                <span style="color: red">(<%= negativeMove[i].change %>%)</span>
              </td>
              <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                  Rs. <%= negativeMove[i].recommendedPrice %>
                  
                  <% if (negativeMove[i].recommendedSign < 0) { %>
                    <span style="color: red">(<%= negativeMove[i].recommendedChange %>%)</span>
                 <% } else { %>
                    <span style="color:green">(<%= negativeMove[i].recommendedChange %>%)</span>
                 <% } %>

              </td>
            </tr>
            <% } %>
        </table>
        <% } %>

          <% if (company.length > 0) { %>
            <h2 style="margin-top:20px; width:80%;">New Entries</h2>

            <table style="table-layout: fixed;font-family:arial, sans-serif;border-collapse:collapse;width:80%;margin-bottom:20px">
              <tr style="background-color:#dddddd;">
                <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Name</th>
                <th style="border:1px solid #dddddd;text-align:left;padding:8px;">CMP</th>
                <th style="border:1px solid #dddddd;text-align:left;padding:8px;">Recommended Change</th>
              </tr>

              <% for(i=0; i<company.length; i++) { %>
                <tr>
                  <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                    <a href="<%= `${url}/${company[i].companies.id}` %>" target="_blank"><%= company[i].companies.name %></a>
                  </td>
                  <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                    Rs.
                    <%= company[i].companies.price %>
                  </td>
                  <td style="border:1px solid #dddddd;text-align:left;padding:8px;">
                      Rs. <%= company[i].recommendedPrice %>

                      <% if (company[i].recommendedSign < 0) { %>
                        <span style="color: red">(<%= company[i].recommendedChange %>%)</span>
                     <% } else { %>
                        <span style="color:green">(<%= company[i].recommendedChange %>%)</span>
                     <% } %>

                  </td>
                </tr>
                <% } %>
            </table>
            <% } %>

              <p>For more details click
                <a href="https://investloop.appgambit.com" target="_blank">here</a>
              </p>

              <span style="margin-top: 10px;">
                Click here to
                <a href="<%= text %>" target="_blank">Unsubscribe</a>.
              </span>
</body>