<!-- <h3>ThankYou for registering with InvestLoop</h3>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
  Click on
  <strong>Verify Email</strong> button below to verify your email address.
</p>

<a href="<%= text %>" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px; text-transform: capitalize; border-color: #3498db;">
  Verify Email
</a> -->

<!-- ***************************************** -->

<table style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#7E57C2;"
  cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse" valign="top">
        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tbody>
            <tr>
              <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse;padding:20px 16px 12px"
                valign="bottom">
                <div style="text-align:center">
                  <a href="#" style="font-family:'Comfortaa';font-size:3em;color:#fff;text-decoration:none;word-break:break-word" target="_blank">
                    InvestLoop
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse" valign="top">

        <table style="border-collapse:collapse;background:white;border-radius:0.5rem;margin:1rem auto; max-width: 92%" align="center" cellspacing="0"
          cellpadding="32" border="0">
          <tbody>
            <tr>
              <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse" width="546" valign="top">
                <div style="max-width:600px;margin:0 auto">

                  <h2 style="color:#2ab27b;margin: 2px;">Hello
                    <a href="mailto:<%= memberEmail %>" style="color:#2ab27b; text-decoration:none;">
                      <%= memberEmail %>
                    </a>,</h2>
                  <hr style="border:none;border-bottom:1px solid #ececec;width:100%">
                  <table style="border-collapse:collapse" align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <div style="width:100%;word-break:break-word;clear:left;font-size:15px;line-height:18px;color:#555549;min-height:36px">

                            <div style="">
                              <p style="color:#444; font-size: 1em;">ThankYou for registering with InvestLoop.</p>
                              <p style="color:#444; font-size: 1em;">Click on
                                <strong>Verify Email</strong> button below to verify your email address.</p>
                            </div>
                            <a href="<%= text %>" target="_blank" style="display: inline-block; color: #ffffff; background-color: #673AB7; border: solid 1px #673AB7; border-radius: 3px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 10px; text-transform: capitalize; border-color: #673AB7;">
                              Verify Email
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem" align="center" cellspacing="0"
          cellpadding="32" border="0">
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>