.card-margin{
  margin-top:20px;
}

.company-header{
  background-color: #0A76B7;
  color: #fff
}

.company-card{
  /* background-color: #eee */
  padding-top: 0;
  text-align: -webkit-center;
}

.add-button{
  margin: 10px;
}

.card-change-price{
  background-color: lightblue;
  background-size: cover;
  padding-top: 15px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 50px;
  height: 50px;
}

.price-change-up{
  background-color: greenyellow;
}

.price-change-down{
  background-color: red;
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-list:before {
  content: "\e9ba";
}

.notify{
  flex: 0 0 6%;
}

.header-row{
  margin-left: 10px;
  margin-right: 0;
}

.alert-list{
  border: 1px solid #ddd;
}

.alert-disable{
  color: teal !important;
}

.alert-gap {
  flex: 1 1 auto;
}

@media only screen and (max-width: 768px) {
  .web-table{
    display: none;
  }

  .mobile-card{
    margin: 8px 16px 8px 16px;
    padding: 16px 0 16px 16px;
    box-shadow: 0 1px 1px -2px rgba(0,0,0,.08), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

@media only screen and (min-width: 769px) {
  .mobile-card{
    display: none;
  }
}

.mobile-notify-cb{
  /* margin-left: 10px; */
  position: absolute;
  top: 55px;
  right: 10px;
  width: 37px;
  height: 37px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.08) !important;
}

.mobile-alert-cb{
  /* margin-left: 10px; */
  position: absolute;
  top: 12px;
  right: 10px;
  width: 37px;
  height: 37px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.08) !important;
}

.mat-table.web-table{
  margin: 16px;
}

.notification-break-border{
  margin: 8px 15px 16px;
  border-top: 1px dotted lightgrey;
}

.notification-type{
  font-family: initial;
  margin: 16px 15px 0;
}

.mat-column-added {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 29%;
}

.mat-column-price {
  flex: 0 0 10%;
}

.mat-column-change {
  flex: 0 0 13%;
}

.announcement-icon-count{
  position: absolute;
  right: -10px;
  top: 8px;
}

.announcement-tag-count{
  color: white;
  position: absolute;
  right: -5px;
  top: 0;
}