<h3 style="margin-top:0">Select which notifications you want...</h3>

<!-- <div class="user-company-notification row">
  <mat-checkbox class="col-md-6 col-xs-12" *ngFor="let notification of notificationType" (change)="updateData(notification)" [(ngModel)]="notification.active">{{notification.value}}</mat-checkbox>
</div> -->

<div class="user-company-notification row">
  <mat-checkbox class="col-md-6 col-xs-12" (change)="updateData(notificationType[0])" [(ngModel)]="notificationType[0].active">{{notificationType[0].value}}</mat-checkbox>
</div>

<div class="user-company-notification row">
  <h4 class="notification-type">Source</h4>
  <hr class="notification-break-border">
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[1])" [(ngModel)]="notificationType[1].active">{{notificationType[1].value}}</mat-checkbox>
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[2])" [(ngModel)]="notificationType[2].active">{{notificationType[2].value}}</mat-checkbox>
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[3])" [(ngModel)]="notificationType[3].active">{{notificationType[3].value}}</mat-checkbox>
</div>

<!-- <div class="user-company-notification row">
  <h4 class="notification-type">Source</h4>
  <hr class="notification-break-border">
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[4])" [(ngModel)]="notificationType[4].active">{{notificationType[4].value}}</mat-checkbox>
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[5])" [(ngModel)]="notificationType[5].active">{{notificationType[5].value}}</mat-checkbox>
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[6])" [(ngModel)]="notificationType[6].active">{{notificationType[6].value}}</mat-checkbox>
  <mat-checkbox [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(notificationType[7])" [(ngModel)]="notificationType[7].active">{{notificationType[7].value}}</mat-checkbox>
</div> -->

<div class="user-company-notification row">
  <h4 class="notification-type">Type</h4>
  <hr class="notification-break-border">
  <mat-checkbox *ngFor="let tag of tags" [disabled]="isAllSelected" class="col-md-6 col-xs-12" (change)="updateData(tag)" [(ngModel)]="tag.active">{{tag.value}}</mat-checkbox>
</div>

<div class="row">
  <button class="pull-right" mat-raised-button color="primary" (click)="UpdateNotifications()">Save</button>
  <button class="pull-right" mat-raised-button color="" [mat-dialog-close]=null>Cancel</button>
</div>