<h3 style="margin-top:0">Price Alert</h3>

<div class="row">
  <mat-form-field class="form-group col-xs-8 col-md-9">
    <input type="number" min="1" class="form-comtrol" [(ngModel)]="newAlert" matInput placeholder="Price">
  </mat-form-field>
  <button mat-raised-button color="primary" class="col-xs-3" (click)="AddAlert()">Add Alert</button>
</div>

<h3 *ngIf="alerts.length !== 0;">Alerts</h3>
<mat-list role="list">
  <mat-list-item class="alert-list " *ngFor="let alert of alerts; let i = index">
    <h4 style="padding: 0;">Rs.{{alert.alertPrice}}</h4>
    <span class="alert-gap"></span>
    <button mat-button color="primary" *ngIf="!alert.active" (click)="EnableAlert(alert, i)">Enable</button>
    <button mat-button class="alert-disable" *ngIf="alert.active" (click)="DisableAlert(alert, i)">Disable</button>
    <button mat-button color="warn" (click)="RemoveAlert(alert, i)">Remove</button>
  </mat-list-item>
</mat-list>

<div style="margin-top: 10px;" class="row">
  <h4 *ngIf="alerts.length === 0;" class="col-xs-6">
    No Alerts
  </h4>

  <button mat-raised-button class="pull-right" color="primary" [mat-dialog-close]="alerts">Close</button>
</div>