<!-- <mat-card class="company-header">
  <h2>Companies
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="Logout()">Logout</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="addUserCompanyDialog()">Add Company</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="/portfolio">Portfolio</button>    
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="">Home</button>
  </h2>
</mat-card> -->

<app-menu page="Companies" [loader]="loader"></app-menu>
<div class="row header-row">
  <button class="" style="margin:10px" mat-raised-button color="primary" (click)="addUserCompanyDialog()">Add Company</button>
</div>
<!-- 
<div class="col-md-12">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div> -->

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z1 web-table" matSort (matSortChange)="sortData($event)">
  <!-- <ng-container matColumnDef="select"> -->
  <!-- <mat-header-cell *matHeaderCellDef class="notify">
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="notify">
      <mat-checkbox [(ngModel)]="row.notify" (click)="$event.stopPropagation()" (change)="updateNotification(row);$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef class="notify"></mat-header-cell>
    <mat-cell *matCellDef="let row; let i=index" class="notify">

      <mat-icon (click)="OpenNotification(row, i)" matTooltip="Notification" matTooltipPosition="below" *ngIf="!row.isNotify">notifications_off</mat-icon>
      <mat-icon (click)="OpenNotification(row, i)" matTooltip="Notification" matTooltipPosition="below" *ngIf="row.isNotify">notifications_active</mat-icon>

      <mat-icon (click)="OpenAlerts(row, i)" matTooltip="Alert" matTooltipPosition="below" *ngIf="!row.isAlert">money_off</mat-icon>
      <mat-icon (click)="OpenAlerts(row, i)" matTooltip="Alert" matTooltipPosition="below" *ngIf="row.isAlert">attach_money</mat-icon>

    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a routerLink="/company/{{element.companies.NSECode}}">{{element.companies.name}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="added">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Added On </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.createdOn | date: 'dd MMM y'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.companies.price | currency: 'INR': 'symbol'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="change">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Change </mat-header-cell>
    <mat-cell *matCellDef="let element" [style.color]="element.color"> {{element.difference | currency: 'INR': 'symbol'}} ({{element.priceChange | percent:'2.2-2'}}) </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef align="center"></mat-header-cell>
    <mat-cell *matCellDef="let element" align="">
      <div class="button-row">
        <button mat-button color="primary" (click)="getCompanyAnnouncements(element)">Announcements
          <mat-icon class="announcement-icon-count" *ngIf="element.isNewAnnouncements">mode_comment</mat-icon>
          <span class="announcement-tag-count" *ngIf="element.isNewAnnouncements">{{element.isNewAnnouncements}}</span>
        </button>

        <button mat-button color="warn" (click)="removeUserCompany(element)" *ngIf="!element.disableRemove">Remove</button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-card *ngFor="let element of user_companies; let i = index;" class="mobile-card">
  <mat-card-content>
    <h5>
      <strong>Added On: </strong>
      {{element.createdOn | date: 'dd MMM y'}}
    </h5>
    <h5>
      <strong>Name:</strong>
      <a routerLink="/company/{{element.companies.NSECode}}">{{element.companies.name}}</a>
    </h5>

    <button mat-mini-fab color="accent" class="mobile-notify-cb">
      <mat-icon (click)="OpenNotification(element, i)" matTooltip="Notifications" matTooltipPosition="below" *ngIf="!element.isNotify">notifications_off</mat-icon>
      <mat-icon (click)="OpenNotification(element, i)" matTooltip="Notifications" matTooltipPosition="below" *ngIf="element.isNotify">notifications_active</mat-icon>
    </button>

    <button mat-mini-fab color="primary" class="mobile-alert-cb">
      <mat-icon (click)="OpenAlerts(element, i)" matTooltip="Alert" matTooltipPosition="below" *ngIf="!element.isAlert">money_off</mat-icon>
      <mat-icon (click)="OpenAlerts(element, i)" matTooltip="Alert" matTooltipPosition="below" *ngIf="element.isAlert">attach_money</mat-icon>
    </button>

    <h5>
      <strong>Current Price:</strong>
      <span>{{element.companies.price | currency: 'INR': 'symbol'}}</span>
    </h5>
    <h5>
      <strong>Change:</strong>
      <span [style.color]="element.color">{{element.difference | currency: 'INR': 'symbol'}}({{element.priceChange | percent:'2.2-2'}})</span>
    </h5>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-row">
      <!-- <mat-checkbox class="mobile-notify-cb" [(ngModel)]="element.notify" (change)="updateNotification(element)"></mat-checkbox> -->
      <!-- <button mat-button color="primary" (click)="askQuestion(element)">Ask Question</button> -->
      <button mat-button color="primary" (click)="getCompanyAnnouncements(element)">Announcements
        <mat-icon class="announcement-icon-count" *ngIf="element.isNewAnnouncements">mode_comment</mat-icon>
        <span class="announcement-tag-count" *ngIf="element.isNewAnnouncements">{{element.isNewAnnouncements}}</span>
      </button>

      <button mat-button color="warn" (click)="removeUserCompany(element)" *ngIf="!element.disableRemove">Remove</button>
    </div>
  </mat-card-actions>
</mat-card>