<app-menu></app-menu>

<mat-card class="reset-card col-md-6 col-md-offset-3">
  <mat-form-field>
    <input matInput placeholder="Enter New Passowrd" [(ngModel)]="password" required>
  </mat-form-field>

  <div class="button-row">
    <button type="password" mat-raised-button color="primary" [disabled]="!password" (click)="Reset()">Reset</button>
  </div>
</mat-card>