/* @media only screen and (min-width: 769px) {
    .btn-row{
        margin-left: 64px;
    }
}

@media only screen and (max-width: 768px) {
    .btn-row{
        margin-left: 27px;;
    }
} */

.delete-button{
    background-color: orangered;
}

.delete {
    text-align: center;
}

.reset-password {
    text-align: center;
}

.reset-email-input {
    width: 100%;
}