<span *ngIf="data.dialog === 'delete'" class="delete">
  <h2 align="center">Confirm Delete ?</h2>

  <div class="btn-row">
    <button mat-raised-button color="" [mat-dialog-close]=false>No, Don't delete</button>
    <button mat-raised-button color="warn" [mat-dialog-close]=true>Delete</button>
  </div>
</span>

<span *ngIf="data.dialog === 'invalid credentials'">
  <h2 align="center">Invalid credentials</h2>

  <div class="pull-right">
    <button mat-raised-button color="primary" [mat-dialog-close]=true>Close</button>
  </div>
</span>

<span *ngIf="data.dialog === 'reset-password-email'" class="reset-password">
  <mat-form-field class="reset-email-input">
    <input matInput placeholder="Enter Email" [(ngModel)]="resetPasswordEmail" required>
  </mat-form-field>
  <div class="btn-row">
    <button mat-raised-button color="" [mat-dialog-close]="">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!resetPasswordEmail" [mat-dialog-close]="resetPasswordEmail">Reset</button>
  </div>
</span>