.twitter-profile-image{
  background-size: cover;
}

.twitter-followers{
  padding: 10px;
}

.follower-subtitle{
  margin-top: -18px !important;
  margin-left: -1px;
}

.followers{
  margin: 10px;
}

.example-form{
  margin: 10px 20px;
}

.action-button{
  top: -12px;
  box-shadow: none;
}

/* .follower-card{
  height: 95px;
} */

.verified-user{
  position: absolute;
  top: 26px;
  background-color: #1da1f2;
  border-radius: 50%;
  color: white;
  width: 16px;
  height: 16px;
  font-size: 12px;
  margin-left: 5px;
  padding: 2px;
  font-weight: bold;
}

.protected-user{
  position: absolute;
  top: 25px;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .example-full-width{
    width: 65%;
  }
}

@media only screen and (min-width: 769px) {
  .example-full-width{
    width: 20%;
  }
}
