<app-menu [loader]="loader"></app-menu>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search users" [(ngModel)]="user_name" name="user_names">
  </mat-form-field>

  <button mat-raised-button [disabled]="user_name.length < 1" color="primary" (click)="Search()">Search</button>
</form>

<div class="row followers" *ngIf="searchUser.length">
  <h3>Searched Users</h3>
  <div class="twitter-followers col-xs-12 col-md-3 col-sm-4" *ngFor="let follower of searchUser; let i = index;">
    <mat-card class="follower-card">
      <mat-card-header>
        <div mat-card-avatar class="twitter-profile-image" [style.background]="'url(' + follower.profile_image_url_https + ')'"></div>
        <mat-card-title>
          {{follower.name}}
          <mat-icon *ngIf="follower.verified" class="verified-user">check</mat-icon>
          <mat-icon *ngIf="follower.protected" class="protected-user" [ngStyle]="{'margin-left': follower.verified ? '135px' : '114px'}">lock</mat-icon>
        </mat-card-title>
        <mat-card-subtitle class="follower-subtitle">@{{follower.screen_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-mini-fab class="pull-right action-button" color="primary" (click)="AddFriend(follower, i)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div class="row followers">
  <h3>Friends</h3>
  <div class="twitter-followers col-xs-12 col-md-3 col-sm-4" *ngFor="let follower of friends; let i = index;">
    <mat-card class="follower-card">
      <mat-card-header>
        <div mat-card-avatar class="twitter-profile-image" [style.background]="'url(' + follower.profile_image_url_https + ')'"></div>
        <mat-card-title>
          {{follower.name}}
          <mat-icon *ngIf="follower.verified" class="verified-user">check</mat-icon>
          <mat-icon *ngIf="follower.protected" class="protected-user" [ngStyle]="{'margin-left': follower.verified ? '135px' : '114px'}">lock</mat-icon>
        </mat-card-title>
        <mat-card-subtitle class="follower-subtitle">@{{follower.screen_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-mini-fab class="pull-right action-button" color="warn" (click)="RemoveFriend(follower, i)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div class="row followers" *ngIf="pendingReq.length">
  <h3>Pending Request</h3>
  <div class="twitter-followers col-xs-12 col-md-3 col-sm-4" *ngFor="let follower of pendingReq; let i = index;">
    <mat-card class="follower-card">
      <mat-card-header>
        <div mat-card-avatar class="twitter-profile-image" [style.background]="'url(' + follower.profile_image_url_https + ')'"></div>
        <mat-card-title>
          {{follower.name}}
          <mat-icon *ngIf="follower.verified" class="verified-user">check</mat-icon>
          <mat-icon *ngIf="follower.protected" class="protected-user" [ngStyle]="{'margin-left': follower.verified ? '135px' : '114px'}">lock</mat-icon>
        </mat-card-title>
        <mat-card-subtitle class="follower-subtitle">@{{follower.screen_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-mini-fab class="pull-right action-button" color="warn" (click)="RemoveFriend(follower, i)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->