<app-menu [loader]="loader"></app-menu>

<mat-card class="col-md-6 col-md-offset-3 col-xs-12 login-card" *ngIf="isLogin">
  <mat-card-header>
    <h2>Login</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="form-group col-md-12 col-xs-12">
      <input class="form-comtrol" (blur)="checkEmail()" [(ngModel)]="email" [formControl]="emailValidation" matInput placeholder="Email"
        required>
      <mat-error *ngIf="emailValidation.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group col-md-12 col-xs-12">
      <input class="form-comtrol" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" [formControl]="passwordValidation"
        matInput placeholder="Password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwordValidation.invalid">Password is required</mat-error>
    </mat-form-field>
  </mat-card-content>
  <div class="row pull-left mobile-button">
    <button mat-button class="" color="warn" (click)="ForgotPassword()">Forgot Password</button> |
    <button mat-button class="" color="primary" routerLink="/register">Signup</button>
  </div>
  <mat-card-actions class="">
    <div class="pull-right">
      <button class="btn-lg" mat-raised-button color="" (click)="reset()">Reset</button>
      <button class="btn-lg" mat-raised-button [disabled]="emailValidation.invalid || passwordValidation.invalid" color="primary"
        (click)="login()">Login</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="col-md-6 col-md-offset-3 col-xs-12 signup-card" *ngIf="!isLogin">
  <mat-card-header>
    <h2>Signup</h2>
  </mat-card-header>
  <mat-card-content>

    <!-- <div class="row"> -->
      <!-- <div class="col-md-3">
      <img [src]="imageSrc" class="profile-image-box">
      <button mat-raised-button color="primary" (click)="profileImage.click()">Upload Image</button>
      <input class="profile-image-inpu" type="file" [(ngModel)]="profile" #profileImage>
    </div> -->
      <!-- <div class="col-md-9">
        <div class="row"> -->
      <mat-form-field class="form-group col-xs-6 col-md-6">
        <input class="form-comtrol" [(ngModel)]="firstName" [formControl]="firstValidation" matInput placeholder="First Name" required>
        <mat-error *ngIf="firstValidation.invalid">First Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group col-xs-6 col-md-6">
        <input class="form-comtrol" [(ngModel)]="lastName" [formControl]="lastValidation" matInput placeholder="Last Name" required>
        <mat-error *ngIf="lastValidation.invalid">Last Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group col-xs-12 col-md-12">
        <input class="form-comtrol" (blur)="checkEmail()" [(ngModel)]="email" [formControl]="emailValidation" matInput placeholder="Email"
          required>
        <mat-error *ngIf="emailValidation.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <!-- </div>
     </div> -->
    <!-- </div> -->

    <mat-form-field class="form-group col-xs-12 col-md-12">
      <input class="form-comtrol" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" [formControl]="passwordValidation"
        matInput placeholder="Password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwordValidation.invalid">Password is required</mat-error>
    </mat-form-field>
  </mat-card-content>

  <div class="pull-left">
    <h5 class="error" *ngIf="!getEmailErrorMessage() && emailExists==='true'">
      Email Already Exists
    </h5>
  </div>

  <mat-card-actions>
    <div class="pull-right">

      <button class="btn-lg" [disabled]="emailValidation.invalid || firstValidation.invalid || 
      lastValidation.invalid || passwordValidation.invalid || emailExists!=='false'" mat-raised-button
        color="primary" (click)="Signup()">Signup</button>

      <button class="btn-lg" mat-raised-button color="" (click)="reset()">Reset</button>
    </div>
  </mat-card-actions>
</mat-card>