.login-card{
  margin-top: 150px;
  border-bottom: 1px solid lightgrey;
  /* background-color: #0A76B7; */
}

.signup-card{
  margin-top: 100px;
  border-bottom: 1px solid lightgrey;
  /* background-color: #0A76B7; */
}

.error{
  color: red;
}

.profile-image-input{
  display: none;
}

img.profile-image-box {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .mobile-button{
    margin: 0 72px 18px;    
  }
}
