<mat-form-field class="col-xs-12">
  <input type="password" matInput placeholder="Old Password" [formControl]="oldValidation" [(ngModel)]="oldPassword" required>
  <mat-error *ngIf="oldValidation.invalid">Old Password is required</mat-error>
</mat-form-field>

<mat-form-field class="col-xs-12">
  <input type="password" matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" [formControl]="newValidation"
    [(ngModel)]="newPassword" required>
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  <mat-error *ngIf="newValidation.invalid">New Password is required</mat-error>
</mat-form-field>

<button class="pull-right" [disabled]="oldValidation.invalid || newValidation.invalid" mat-raised-button color="primary"
  (click)="ChangePassword()">Change Password</button>
<button mat-raised-button class="pull-right" (click)="close()">Cancel</button>