<!-- <mat-toolbar class="company-header">
  <h2>{{page}}
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" *ngIf="isLoggedIn" (click)="Logout()">Logout</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
    <!-- <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" *ngIf="isLoggedIn" routerLink="/portfolio">Portfolio</button>    
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" *ngIf="isLoggedIn" routerLink="/my-company">My Company</button>    
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" *ngIf="isLoggedIn" routerLink="">Home</button> -->
<!-- </h2>
</mat-toolbar> -->

<div id="loading-bar" *ngIf="loader">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<nav mat-tab-nav-bar class="company-header investLoop-navbar">
  <a mat-button color="" mat-tab-link routerLink="">
    <!-- <img src="../../favicon.ico"> -->
    InvestLoop
  </a>
  <a mat-button class="web-screen" color="" mat-tab-link *ngIf="isLoggedIn" routerLink="/my-company">
    My Company
  </a>
  <a mat-button class="web-screen" color="" mat-tab-link *ngIf="isLoggedIn" routerLink="/portfolio">
    Portfolio
  </a>

  <a class="pull-right mobile-screen" *ngIf="!isLoggedIn" mat-tab-link mat-button color="" (click)="Subscribe()">Subscribe</a>
  <a class="pull-right web-screen" mat-tab-link mat-button color="" (click)="Subscribe()">Subscribe</a>
  <a class="web-screen pull-right" mat-tab-link mat-button color="" *ngIf="isLoggedIn" (click)="Logout()">Logout</a>
  <a class="pull-right" mat-tab-link mat-button color="" *ngIf="!isLoggedIn" routerLink="/login">Login</a>

  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="pull-right mobile-screen" *ngIf="isLoggedIn">
    <mat-icon class="menu-button">dehaze</mat-icon>
  </button>
  <mat-menu #mobileMenu class="menu-mobile-menu">
    <mat-list class="mobile-menu-list">
      <mat-list-item>
        <button mat-button routerLink="/my-company">My Company</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/portfolio">Portfolio</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="Subscribe()">Subscribe</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="Logout()">Logout</button>
      </mat-list-item>
    </mat-list>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="profile" class="pull-right" *ngIf="isLoggedIn">
    <mat-icon class="menu-button">account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="user-profile-image">
          <mat-icon class="profile-image">account_circle</mat-icon>
        </div>
        <mat-card-title class="profile-name">{{username}}</mat-card-title>
        <mat-card-subtitle class="profile-role">{{role}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <button mat-menu-item (click)="changePassword()">
      <span class="">Change Password</span>
    </button>
  </mat-menu>

</nav>