.company-header{
  background-color: #673ab7;
  height: 55px;
  padding: 8px 16px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.08);
}

a, a:focus, a:hover {
  opacity: 1;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  height: 36px;
}

.menu-button{
  font-size: 35px;
  color: white;
}

.mat-tab-link {
  min-width: 0;
}

.profile-card{
  box-shadow: 0 0 0 !important;
  padding: 0;
  padding-left: 8px;
}

.profile-image{
  font-size: 40px;
}

.profile-name{
  margin-bottom: 8px;
}

.profile-role{
  margin-bottom: 0;
}

@media only screen and (min-width: 769px) {
  .mobile-screen{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .web-screen{
    display: none;
  }
}
