.company-card{
  /* height: 75px !important; */
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.price-icon-down{
  position: absolute;
  top: 26px;
  color: red;
}

.price-icon-up{
  position: absolute;
  top: 26px;
  color: green;
}

.company-price-up{
  color: green;
}

.company-price-down{
  color: red;
}

.company-price-hint{
  display: inline-block;
}