<mat-form-field class="form-group col-xs-12">
    <input class="form-comtrol" [(ngModel)]="companyName" (ngModelChange)="getCompany()" matInput placeholder="Company Name">
</mat-form-field>
<div *ngFor='let company of adminCompanies' class="row">
  <mat-card class="company-card col-xs-12" *ngIf="company">
    <mat-card-content>
      <div class="col-md-10 col-xs-9">
          {{company.name}}
          <mat-hint class="row">
            {{company.BSECode + " | " + company.NSECode}}
            <span class="company-price-hint" 
            *ngIf="company.price !== 0"
            [ngClass]="{'company-price-up': company.price - company.previousPrice >= 0, 'company-price-down': company.price - company.previousPrice < 0}">
              {{company.price | currency: 'INR' : 'symbol'}} 
              <!-- <mat-icon *ngIf="company.price - company.previousPrice < 0" class="price-icon-down">arrow_drop_down</mat-icon>
              <mat-icon *ngIf="company.price - company.previousPrice >= 0" class="price-icon-up">arrow_drop_up</mat-icon> -->
              ({{company.price - company.previousPrice | currency: 'INR' : 'symbol'}})
            </span>
          </mat-hint>
      </div>
      <div class="col-md-2 col-xs-3">
      <button mat-raised-button mat-mini-fab color="primary" [mat-dialog-close]="company.id">Add</button>      
      </div>
    </mat-card-content>
  </mat-card>
</div>