<mat-form-field class="col-md-12 col-xs-12">
  <input matInput placeholder="Enter title" [formControl]="titleValidation" [(ngModel)]="form.title" required>
  <mat-error *ngIf="titleValidation.invalid">Title is required</mat-error>
</mat-form-field>

<mat-form-field class="col-md-12 col-xs-12">
  <textarea matInput placeholder="Enter Description"[(ngModel)]="form.description" 
            matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
  </textarea>
</mat-form-field>

<mat-form-field class="col-md-12 col-xs-12">
  <input type="url" matInput placeholder="Enter source URL" [(ngModel)]="form.source">
</mat-form-field>

<button class="pull-right" mat-raised-button color="primary" [disabled]="titleValidation.invalid"
[mat-dialog-close]="form">Add</button>
<button class="pull-right" mat-raised-button color="" [mat-dialog-close]="">Cancel</button>