<mat-card *ngFor="let data of report" class="public-company-report">
  <mat-card-content>
    <h3>
      <a [href]="data.source" class="company-report-url" [class.disabled-report]="!data.source" target="_blank">{{data.title}} </a>
      <small>{{data.createdOn}}</small>
    </h3>
    <p>{{data.description}}</p>
  </mat-card-content>
</mat-card>

  <h3 *ngIf="report && report.length === 0; else paginationElement">No Updates</h3>

  <ng-template  #paginationElement>
    <mat-paginator
    [length]="pageLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChange($event)"
    ></mat-paginator>
  </ng-template>