<mat-form-field class="col-md-6 col-xs-12">
  <input matInput placeholder="Enter company name" [formControl]="nameValidation" [(ngModel)]="form.name" required>
  <mat-error *ngIf="nameValidation.invalid">Name is required</mat-error>
</mat-form-field>
<mat-form-field class="col-md-6 col-xs-12">
  <input matInput placeholder="Enter BSECode" [formControl]="BSEValidation" [(ngModel)]="form.BSECode" required>
  <mat-error *ngIf="BSEValidation.invalid">BSE Code is required</mat-error>
</mat-form-field>
<mat-form-field class="col-md-6 col-xs-12">
  <input matInput placeholder="Enter NSECode" [formControl]="NSEValidation" [(ngModel)]="form.NSECode" required>
  <mat-error *ngIf="NSEValidation.invalid">NSE Code is required</mat-error>
</mat-form-field>
<mat-form-field class="col-md-6 col-xs-12">
  <input matInput placeholder="Enter site URL" [(ngModel)]="form.siteURL">
</mat-form-field>

<button class="pull-right" mat-raised-button color="primary" [disabled]="nameValidation.invalid || BSEValidation.invalid || NSEValidation.invalid"
  [mat-dialog-close]="form">Add</button>