<!-- <mat-card class="company-header">
  <h2>Companies
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="Logout()" *ngIf="role">Logout</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="Login()" *ngIf="!role">Login</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="addUserCompanyDialog()" *ngIf="role === 'admin'">Add Company</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="/my-company" *ngIf="role">My Company</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="/portfolio" *ngIf="role">Portfolio</button>
  </h2>
</mat-card> -->
<app-menu page="Home" [loader]="loader"></app-menu>
<div class="row header-row" *ngIf="role">
  <button class="admin-button" mat-raised-button color="primary" (click)="addUserCompanyDialog()">Add Public Company</button>

  <button mat-raised-button class="admin-button" color="accent" [matMenuTriggerFor]="adminOptions">Admin Options</button>
  <mat-menu #adminOptions="matMenu" class="public-action-menu">
    <button mat-menu-item (click)="addCompanyDialog()">Add New Company</button>
    <!-- <button mat-menu-item routerLink="/announcement-verification">Announcement Verification</button> -->
    <button mat-menu-item routerLink="/tags">Tags</button>
    <button mat-menu-item routerLink="/twitter">Twitter</button>
  </mat-menu>
</div>
<!-- 
<div class="col-md-12">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div> -->

<mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z1 web-table">

  <ng-container matColumnDef="recommendedOn">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="date-flex"> Recommended On </mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index" class="date-flex">
      {{element.createdOn | date: 'dd MMM y'}}

      <!-- <span *ngIf="role">
        <input class="edit-input" matInput [max]="editLastDate" (dateChange)="changeDate(element, index)" [matDatepicker]="picker"
          [(ngModel)]="element.createdOn">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </span> -->
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="name-flex">Name</mat-header-cell>
    <mat-cell *matCellDef="let element" class="name-flex">
      <a routerLink="/company/{{element.companies.NSECode}}">{{element.companies.name}}</a>
      <mat-icon (click)="GraphView(element.companies)" class="graph-view-button">timeline</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="recommendedPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Recommended Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.recommendedPrice | currency: 'INR': 'symbol'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="price-flex"> Current Price </mat-header-cell>
    <mat-cell *matCellDef="let element" [style.color]="element.color" class="price-flex"> {{element.companies.price | currency: 'INR': 'symbol'}} ({{element.priceChange | percent:'2.2-2'}})</mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="change">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Change </mat-header-cell>
    <mat-cell *matCellDef="let element" [style.color]="element.color"> {{element.priceChange | percent:'2.2-2'}} </mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="action-flex"></mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index" class="action-flex">
      <div class="button-row">
        <button mat-button color="primary" (click)="getCompanyAnnouncements(element)">
          <!-- <mat-icon>list</mat-icon> -->Announcements
          <mat-icon class="announcement-icon-count" *ngIf="element.isNewAnnouncements">mode_comment</mat-icon>
          <span class="announcement-tag-count" *ngIf="element.isNewAnnouncements">{{element.isNewAnnouncements}}</span>
        </button>
        <button mat-button class="update-button" color="primary" (click)="getCompanyUpdate(element, index)" *ngIf="element.companies.companyReports.length">
          <!-- <mat-icon>view_agenda</mat-icon> -->Updates
          <mat-icon class="announcement-icon-count" *ngIf="element.isNewReports">mode_comment</mat-icon>
          <span class="announcement-tag-count" *ngIf="element.isNewReports">{{element.isNewReports}}</span>
        </button>

        <button mat-button color="warn" [matMenuTriggerFor]="menu" *ngIf="role">Actions</button>

        <mat-menu #menu="matMenu" class="public-action-menu">
          <button mat-menu-item class="edit-button" (click)="editUserCompany(element, index)">
            <mat-icon class="edit-button">mode_edit</mat-icon>Edit
          </button>
          <button mat-menu-item class="add-report-button edit-button" (click)="addCompanyReports(element, index)">
            <mat-icon class="add-report-button edit-button">library_add</mat-icon>Add Update
          </button>
          <button mat-menu-item class="remove-button" (click)="removeUserCompany(element)">
            <mat-icon class="remove-button">delete</mat-icon>Remove
          </button>
        </mat-menu>

        <!-- <button mat-button shareButton="facebook">Share</button> -->
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'isNew': row.isNew}"></mat-row>
</mat-table>

<mat-card *ngFor="let element of user_companies; let index=index;" class="mobile-card" [ngClass]="{'isNew': element.isNew}">
  <mat-card-content>
    <h5>
      <strong>Recommended On:</strong> {{element.createdOn | date: 'dd MMM y'}}</h5>
    <h5>
      <strong>Name:</strong>
      <a routerLink="/company/{{element.companies.NSECode}}">{{element.companies.name}}</a>
    </h5>

    <button mat-mini-fab color="accent" class="graph-view-button">
      <mat-icon (click)="GraphView(element.companies)">timeline</mat-icon>
    </button>

    <button mat-mini-fab color="primary" class="social-button">
      <mat-icon (click)="element.social = !element.social; SetMetaTag(element)">share</mat-icon>
    </button>

    <h5>
      <strong>Recommended Price:</strong> {{element.recommendedPrice | currency: 'INR': 'symbol'}}</h5>
    <h5>
      <strong>Current Price:</strong>
      <span [style.color]="element.color">{{element.companies.price | currency: 'INR': 'symbol'}} ({{element.priceChange | percent:'2.2-2'}})</span>
    </h5>
  </mat-card-content>
  <mat-card-actions *ngIf="!element.social">
    <div class="button-row">
      <button mat-button color="primary" (click)="getCompanyAnnouncements(element)">
        <!-- <mat-icon>list</mat-icon> -->Announcements
        <mat-icon class="announcement-icon-count" *ngIf="element.isNewAnnouncements">mode_comment</mat-icon>
        <span class="announcement-tag-count" *ngIf="element.isNewAnnouncements">{{element.isNewAnnouncements}}</span>
      </button>
      <button mat-button class="update-button" color="primary" (click)="getCompanyUpdate(element, index)" *ngIf="element.companies.companyReports.length">
        <!-- <mat-icon>view_agenda</mat-icon> -->Updates
        <mat-icon class="announcement-icon-count" *ngIf="element.isNewReports">mode_comment</mat-icon>
        <span class="announcement-tag-count" *ngIf="element.isNewReports">{{element.isNewReports}}</span>
      </button>

      <button mat-button color="warn" [matMenuTriggerFor]="menu" *ngIf="role">Actions</button>

      <mat-menu #menu="matMenu" class="public-action-menu">
        <button mat-menu-item class="edit-button" (click)="editUserCompany(element, index)">
          <mat-icon class="edit-button">mode_edit</mat-icon>Edit
        </button>
        <button mat-menu-item class="add-report-button edit-button" (click)="addCompanyReports(element, index)">
          <mat-icon class="add-report-button edit-button">library_add</mat-icon>Add Update
        </button>
        <button mat-menu-item class="remove-button" (click)="removeUserCompany(element)">
          <mat-icon class="remove-button">delete</mat-icon>Remove
        </button>
      </mat-menu>

      <!-- <button mat-mini-fab shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
        <mat-icon [svgIcon]="share.prop.whatsapp.icon" size="lg"></mat-icon>
        W
      </button> -->


    </div>
  </mat-card-actions>
  <share-buttons *ngIf="element.social" size="8" theme="moon" [description]="element.description"></share-buttons>
</mat-card>