.card-margin{
  margin-top:20px;
}

.company-header{
  background-color: #0A76B7;
  color: #fff
}

.company-card{
  /* background-color: #eee */
  padding-top: 0;
  text-align: -webkit-center;
}

.add-button{
  margin: 10px;
}

.card-change-price{
  background-color: lightblue;
  background-size: cover;
  padding-top: 15px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 50px;
  height: 50px;
}

.price-change-up{
  background-color: greenyellow;
}

.price-change-down{
  background-color: red;
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-list:before {
  content: "\e9ba";
}

.mat-icon:hover {
  cursor: pointer;
}

.edit-input{
  border: 0;
  width: 0;
  height: 0;
}

.header-row{
  margin-left: 10px;
  margin-right: 0;
}

.isNew {
  background-color: lightblue;
}

.name-flex{
  flex: 0 0 27%;
}

.date-flex{
  flex: 0 0 11%;
}

.price-flex{
  flex:  0 0 16%;
}

.action-flex{
  flex: 0 0 35%;
  padding-left: 50px;
}

.update-button{
  color: deeppink;
}

.add-report-button{
  color: teal !important;
}

.remove-button{
  color: red !important;
}

.edit-button{
  color: #0A76B7 !important;
}

a.disabled-report{
  pointer-events: none;
  cursor: default;
}

.company-report-url{
  outline: 0;
  text-decoration: none;
}

.public-company-report{
  padding: 5px 16px;
  margin: 0 0 8px 0;
}


@media only screen and (max-width: 768px) {
  .admin-button{
    margin: 10px;
    margin-right: 0;
  }

  .web-table{
    display: none;
  }

  .mobile-card{
    margin: 8px 16px 8px 12px;
    padding: 16px 0 16px 16px;
    box-shadow: 0 1px 1px -2px rgba(0,0,0,.08), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.12);    
  }

  .graph-view-button{
    /* margin-left: 10px; */
    position: absolute;
    top: 12px;
    right: 10px;
    width: 37px;
    height: 37px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.08) !important;
  }

  .social-button{
    /* margin-left: 10px; */
    position: absolute;
    top: 58px;
    right: 10px;
    width: 37px;
    height: 37px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.08) !important;
  }
}

@media only screen and (min-width: 769px) {
  .admin-button{
    margin: 10px;
  }

  .mobile-card{
    display: none;
  }

  .graph-view-button{
    position: absolute;
    /* top: 37px; */
    margin-left: 5px;
    color: #666;
  }
}

.mat-table.web-table{
  margin: 16px;
}

.new-announcements{
  position: absolute;
  right: 23px;
  color: white;
}

.announcement-icon-count{
  position: absolute;
  right: -10px;
  top: 8px;
}

.announcement-tag-count{
  color: white;
  position: absolute;
  right: -5px;
  top: 0;
}
