<!-- <mat-form-field>
  <input matInput placeholder="Enter your email" [formControl]="email" required>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field> -->

<div *ngIf="!editMode; else editBlock">
    <mat-form-field class="col-md-6 col-xs-12">
        <input matInput (blur)="companyNetShares()" placeholder="Enter company name" [matAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="form.companyId"
          required>
        <mat-error *ngIf="stateCtrl.invalid">Company Name is required</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option class="company-option" *ngFor="let company of filteredStates | async" [value]="company.name">
              {{ company.name }}
            <mat-hint class="row">
              <small>{{company.BSECode + " | " + company.NSECode}}</small>
            </mat-hint>
          </mat-option>
        </mat-autocomplete>
      
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input matInput [matDatepicker]="picker" [max]="today" placeholder="Choose a date" [formControl]="dateValidation" [(ngModel)]="form.transaction_date"
          required>
        <mat-error *ngIf="dateValidation.invalid">Select a date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input type="number" matInput placeholder="Enter transaction price" [formControl]="priceValidation" [(ngModel)]="form.transaction_price"
          required>
        <mat-error *ngIf="priceValidation.invalid">Price is required</mat-error>
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input type="number" (keyup)="checkValue($event, '')"  min="0" [max]="maxAllowedShares" matInput placeholder="Enter shares quantity" [formControl]="sharesValidation" [(ngModel)]="form.transaction_shares"
          required>
        <mat-error *ngIf="sharesValidation.invalid">Shares is required</mat-error>
      </mat-form-field>
      
      <mat-radio-group class="col-md-4 col-xs-12" [(ngModel)]="form.buy" (change)="checkEligibleShares()">
        <mat-radio-button class="" [value]=true>
          Buy
        </mat-radio-button>
        <mat-radio-button class="" [value]=false [disabled]="disableSell">
          Sell
        </mat-radio-button>
      </mat-radio-group>
</div>

<ng-template #editBlock>
    <mat-form-field class="col-md-6 col-xs-12">
        <input matInput placeholder="Enter company name" [ngModel]="form.companyId" disabled>      
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input matInput [matDatepicker]="picker" [max]="today" placeholder="Choose a date" [formControl]="dateValidation" [(ngModel)]="form.transaction_date"
          required>
        <mat-error *ngIf="dateValidation.invalid">Select a date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input type="number" matInput placeholder="Enter transaction price" [formControl]="priceValidation" [(ngModel)]="form.transaction_price"
          required>
        <mat-error *ngIf="priceValidation.invalid">Price is required</mat-error>
      </mat-form-field>
      
      <mat-form-field class="col-md-6 col-xs-12">
        <input type="number" (keyup)="checkValue($event, '')"  [min]="minAllowedShares" [max]="maxAllowedShares" matInput placeholder="Enter shares quantity" [formControl]="sharesValidation" [(ngModel)]="form.transaction_shares"
          required>
        <mat-error *ngIf="sharesValidation.invalid">Shares is required</mat-error>
      </mat-form-field>
      
      <mat-radio-group class="col-md-4 col-xs-12" [ngModel]="form.buy" disabled>
        <mat-radio-button class="" [value]=true>
          Buy
        </mat-radio-button>
        <mat-radio-button class="" [value]=false>
          Sell
        </mat-radio-button>
      </mat-radio-group>
</ng-template>

<button class="pull-right" [disabled]="stateCtrl.invalid || dateValidation.invalid || priceValidation.invalid || sharesValidation.invalid"
mat-raised-button color="primary" (click)="submitForm()">Add</button>
<button mat-raised-button class="pull-right" (click)="close()">Cancel</button>