.company-header{
  background-color: #0A76B7;
  color: #fff
}

.portfolio-panel{
  margin-left: 20px;
  margin-right: 20px;
}

/* .expansion-panel-header{
  height: 80px !important;
} */

.mat-expansion-panel-body{
  padding:0 39px 16px !important
}

h5{
  font-weight: bold;
}

h3{
  margin-top: 10px;
}

.final-card{
  padding-top: 0;
  background-color: gold;
  margin: 20px;
  margin-bottom: 10px  
}

.detail-portfolio{
  margin: 0;
  margin-bottom: 5px;
}

/* .mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded{
  background-color: lightgreen;
} */

.expansion-panel-header-E74C3C.mat-expansion-panel-header.mat-expanded:focus,
.expansion-panel-header-E74C3C.mat-expansion-panel-header.mat-expanded:hover,
.expansion-panel-header-E74C3C.mat-expansion-panel-header.mat-expanded{
  background-color: rgba(255, 0, 0, 0.418) ;
}

.expansion-panel-header-007700.mat-expansion-panel-header.mat-expanded:focus,
.expansion-panel-header-007700.mat-expansion-panel-header.mat-expanded:hover,
.expansion-panel-header-007700.mat-expansion-panel-header.mat-expanded{
  background-color: lightgreen ;
}

mat-icon.material-icons.mat-icon:hover {
  cursor: pointer;
}

.menu-button.mat-icon-button{
  height: 20px;
  line-height: 0px;
}

.menu-button-cell {
  position: absolute;
  left: -22px;
  top: -3px;
}

/* .material-delete{
  color: red !important;
}

.material-edit{
  color: gold !important;
} */

.company-option{
  line-height: 1;
  padding-top: 20px;
}

.header-card{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 0;
}

.portfolio-card{
  padding: 8px 0 8px 16px;
  margin: 10px -16px -8px -16px;
}

.card-menu-button {
  position: absolute;
  right: 0;
}
