<!-- <mat-card class="company-header">
  <h2>Portfolio
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="Logout()">Logout</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" (click)="addPortfolio()">Add Portfolio</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="/my-company">My company</button>
    <button class="pull-right" style="margin-left:10px" mat-raised-button color="accent" routerLink="">Home</button>
  </h2>
</mat-card> -->
<app-menu page="Portfolio" [loader]="loader"></app-menu>
<div class="row header-card">
  <div class="col-md-1 col-xs-12">
    <button style="margin:10px" mat-raised-button color="primary" (click)="addPortfolio()">Add Portfolio</button>
  </div>

  <div class="col-md-10 col-xs-12">
    <span class="col-md-2 col-md-offset-3 col-xs-4" [matTooltip]="totalInvestment > 0 ? 'Amount paid to market' : 'Amount taken from market' "
      matTooltipPosition="below">
      <h3 [style.color]="totalColor">{{totalInvestment | currency: 'INR' : 'symbol'}}</h3>
      <strong>Investment</strong>
    </span>
    <span class="col-md-2 col-xs-4" [matTooltip]="totalRecovery > 0 ? 'Amount to be taken from market' : 'Amount to be paid to market'"
      matTooltipPosition="below">
      <h3 [style.color]="totalColor">{{totalRecovery | currency: 'INR' : 'symbol'}}</h3>
      <strong>Market Value</strong>
    </span>
    <span class="col-md-2 col-xs-4">
      <h3>
        <span [style.color]="totalColor">{{totalChange | percent: '2.2-2'}}</span>
      </h3>
    </span>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel [expanded]="expanded === companyProfile[i].name" (opened)="expanded = companyProfile[i].name" class="portfolio-panel"
    *ngFor="let company of portfolio; let i = index;">
    <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="80px" [ngClass]="'expansion-panel-header-'+companyProfile[i].color.substring(1)">
      <span class="col-md-3 col-xs-6">
        <h5>Company Name</h5>
        {{companyProfile[i].name}}
      </span>
      <span class="col-md-2 col-xs-3">
        <h5>CMP</h5>
        {{companyProfile[i].price | currency: 'INR' : 'symbol'}}
      </span>
      <span fxHide.lt-sm class="col-md-2">
        <h5>Avg. Price</h5>
        {{companyProfile[i].netPrice | currency: 'INR' : 'symbol'}}
      </span>
      <span fxHide.lt-sm class="col-md-2">
        <h5>Shares</h5>
        {{companyProfile[i].netShares}}
      </span>
      <span fxHide.lt-sm class="col-md-2" matTooltip="Current shares total amount"
        matTooltipPosition="below">
        <h5>Amount</h5>
        {{companyProfile[i].price * companyProfile[i].netShares | currency: 'INR' : 'symbol'}} 
        <span [style.color]="companyProfile[i].color">({{companyProfile[i].net | currency: 'INR' : 'symbol'}})</span>
      </span>
      <span class="col-md-1 col-xs-2">
        <h5>P/L</h5>
        <span [style.color]="companyProfile[i].color">
          {{companyProfile[i].change | percent: '2.2-2'}}
        </span>
      </span>
    </mat-expansion-panel-header>

    <mat-card fxHide.gt-xs class="portfolio-card" *ngFor="let profile of company; let isLast = last;">
      <span class="card-menu-button">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletePortfolio(profile, companyProfile[i].name)">
            <mat-icon class="material-icons material-delete">delete</mat-icon>
            <span class="material-delete">Delete</span>
          </button>
          <button mat-menu-item (click)="editPortfolio(profile, companyProfile[i].name)">
            <mat-icon class="material-edit">mode_edit</mat-icon>
            <span class="material-edit">Edit</span>
          </button>
        </mat-menu>
      </span>
      <strong>Purchase Date: </strong>{{profile.transaction_date | date: 'dd MMM, y'}}
      <br>
      <strong>Transaction: </strong>{{profile.transaction_price | currency: 'INR' : 'symbol'}}
      <br>
      <strong>Price: </strong> {{profile.buy ? 'Buy' : 'Sell'}}
      <br>
      <strong>Shares: </strong>{{profile.transaction_shares}}
      <br>
      <strong>Amount: </strong>{{profile.transaction_price * profile.transaction_shares | currency: 'INR' : 'symbol'}}
      <br>
      <strong *ngIf="!isLast">Change: </strong>
      <span [style.color]="profile.color" *ngIf="!isLast">{{profile.difference | percent: '2.2-2'}}</span>
    </mat-card>

    <mat-list fxHide.lt-sm>
      <div class="">
        <span class="col-md-3">
          <h5>Purchase Date</h5>
        </span>
        <span class="col-md-2">
          <h5>Transaction</h5>
        </span>
        <span class="col-md-2">
          <h5>Price</h5>
        </span>
        <span class="col-md-2">
          <h5>Shares</h5>
        </span>
        <span class="col-md-2">
          <h5>Amount</h5>
        </span>
        <span class="col-md-1">
          <h5>Change</h5>
        </span>
      </div>
      <div *ngFor="let profile of company; let isLast = last;">
        <div class="row detail-portfolio">
          <span class="col-md-3">
            <span class="menu-button-cell">
              <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deletePortfolio(profile, companyProfile[i].name)">
                  <mat-icon class="material-icons material-delete">delete</mat-icon>
                  <span class="material-delete">Delete</span>
                </button>
                <button mat-menu-item (click)="editPortfolio(profile, companyProfile[i].name)">
                  <mat-icon class="material-edit">mode_edit</mat-icon>
                  <span class="material-edit">Edit</span>
                </button>
              </mat-menu>
            </span>

            {{profile.transaction_date | date: 'dd MMM, y'}}
          </span>
          <span class="col-md-2">
            <span *ngIf="profile.buy">
              Buy
            </span>
            <span *ngIf="!profile.buy">
              Sell
            </span>
          </span>
          <span class="col-md-2">
            {{profile.transaction_price | currency: 'INR' : 'symbol'}}
          </span>
          <span class="col-md-2">
            {{profile.transaction_shares}}
          </span>
          <span class="col-md-2">
            {{profile.transaction_price*profile.transaction_shares | currency: 'INR' : 'symbol'}}
          </span>
          <span class="col-md-1">
            <span [style.color]="profile.color">{{profile.difference | percent: '2.2-2'}}</span>
          </span>
        </div>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>