.maindiv {
  min-height: 100vh;
}

.site{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex: 1;
}

.footer{
  margin-top: 20px;
  background-color: #673ab7;
  height: 55px;
  padding: 8px 16px;
  color: white;
}

a{
  opacity: 1;
  text-decoration: none;
  background-color: #784dc6;
  color: #fff;
  font-weight: 600;
  height: 36px;
}

a:focus, a:hover {
  opacity: 1;
  text-decoration: none;
  background-color: #58329d;
  color: #fff;
  font-weight: 600;
  height: 36px;
}