<div class="maindiv">
  <div class="site">

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      <div class="col-xs-5 col-md-3 col-md-offset-5">
        <small><a href="https://appgambit.com" target="_blank">AppGambit</a> © 2018</small>
      </div>
      <!-- <a class="pull-right" mat-button (click)="SubscriberModal()">Subscribe</a> -->
    </footer>

  </div>
</div>