<h3 style="margin-top:0">Subscribe for Daily Updates</h3>

<div class="row">
  <mat-form-field class="col-md-12 col-xs-12">
    <input type="email" matInput [formControl]="emailValidation" placeholder="Enter Email" [(ngModel)]="email">
    <mat-hint style="font-size: 12px;" align="start">
      <strong>Allow Notification</strong> after subscribing to recieve desktop notifications for all
      <strong>Stock Movements</strong>
    </mat-hint>
    <mat-error *ngIf="emailValidation.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div style="margin-top: 25px;">
  <button [disabled]="emailValidation.invalid" class="pull-right" color="primary" mat-raised-button (click)="Subscribe()">Subscribe</button>
</div>