<mat-form-field class="col-md-12 col-xs-12">
    <input matInput placeholder="Company Name" [(ngModel)]="form.company" disabled>
</mat-form-field>

<mat-form-field class="col-md-6 col-xs-6">
    <input required matInput [formControl]="dateValidation" placeholder="Recommended Date" [max]="editLastDate" [matDatepicker]="picker" [(ngModel)]="form.createdOn">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="dateValidation.invalid">Date is required</mat-error>
</mat-form-field>

<mat-form-field class="col-md-6 col-xs-6">
    <input required matInput [formControl]="priceValidation" placeholder="Recommended Price" [(ngModel)]="form.recommendedPrice" type="number">
    <mat-error *ngIf="priceValidation.invalid">Price is required</mat-error>
</mat-form-field>

<button mat-raised-button class="pull-right" color="primary" [mat-dialog-close]="form" [disabled]="priceValidation.invalid || dateValidation.invalid">Save</button>
<button mat-raised-button class="pull-right" color="" [mat-dialog-close]="">Cancel</button>