<mat-form-field class="col-xs-12">
    <input matInput placeholder="Enter tag name" [formControl]="tagValidation" [(ngModel)]="form.tag" required>
    <mat-error *ngIf="tagValidation.invalid">Tag name is required</mat-error>
  </mat-form-field>

  <!-- <mat-form-field class="col-xs-12">
    <input matInput placeholder="Enter tag fields" [formControl]="fieldsValidation" [(ngModel)]="form.BSECode" required>
    <mat-error *ngIf="fieldsValidation.invalid">BSE Code is required</mat-error>
  </mat-form-field> -->

  <mat-form-field class="col-xs-12">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of form.fields" [selectable]="selectable"
                 [removable]="removable" (remove)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add New field"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
    </mat-form-field>
  
  <button class="pull-right" mat-raised-button color="primary" [disabled]="tagValidation.invalid" [mat-dialog-close]="form">Add</button>