<app-menu page="Tags"></app-menu>

<div class="row header-row">
  <button class="admin-button" mat-raised-button color="primary" (click)="AddTags()"> Add Tags</button>
</div>

<mat-card *ngFor="let tag of tags; let i = index;" class="tag-card">
  <h5>{{tag.tag}}</h5>

  <mat-chip-list #chipList class="fields col-xs-11">
    <mat-chip *ngFor="let field of tag.fields; let i = index;">
      {{field}}
    </mat-chip>
  </mat-chip-list>

  <mat-icon (click)="RemoveTags(tag, i)">delete</mat-icon>
</mat-card>