.company-header{
  background-color: #0A76B7;
  color: #fff
}

.company-card{
  /* background-color: #eee; */
  margin:10px;
}

.card-header{
  /* background-color: #4285F4; */
}
.card-change-price{
  background-size: cover;
  padding-top: 15px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 50px;
  height: 50px;
}

.source-chip{
  display: -webkit-inline-box;
}
.price-change-up{
  background-color: green;
  border-radius: 10px;
  color: white;
}

.price-change-down{
  background-color: red;
  border-radius: 10px;
  color: white;
}

.card-chip-nse{
  background-color: #3F51B5;
}

.card-chip-bse{
  background-color: #FF4081;
}

.card-chip-google{
  background-color: yellow;
}

.price-total-up{
  color: green;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.price-total-down{
  color: red;
}

.portfolio-card{
  background-color: lightblue;
}

.company-card > mat-card{
  border-radius: 20px;
  margin-right: 10px;
}

.company-card-align{
  text-align: center;
}

.company-announcements{
  margin:10px;
  padding: 16px 24px 16px;
}

.announcement-tag{
  padding: 0px 10px !important;
  font-size: 10px;
  border-radius: 5px !important;
}

.company-card > .mat-card > .mat-card-content{
  margin: 0;
}