<app-menu page="Company Announcements"></app-menu>

<div *ngIf="company" class="row company-card">
  <mat-card class="col-md-2 col-md-offset-4 col-xs-5 col-xs-offset-1">
    <mat-card-content>
      <h3 class="company-card-align" [ngClass]="{'price-total-up': company.priceInc, 'price-total-down': !company.priceInc}">{{company.price | currency: 'INR' : 'symbol'}}</h3>
    </mat-card-content>
    <mat-card-actions class="company-card-align">
      <strong>Current Price</strong>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-md-2 col-xs-5">
    <mat-card-content>
      <h3 class="company-card-align" [ngClass]="{'price-total-up': company.priceInc, 'price-total-down': !company.priceInc}">{{company.priceChange | percent:'2.2-2'}}</h3>
    </mat-card-content>
    <mat-card-actions class="company-card-align">
      <strong>Change</strong>
    </mat-card-actions>
  </mat-card>
  <!-- <span class="col-md-2 col-md-offset-4">
    <h3 [ngClass]="{'price-total-up': company.priceInc, 'price-total-down': !company.priceInc}">{{company.price | currency: 'INR' : 'symbol'}}</h3>
    <strong>Current Price</strong>
  </span>
  <span class="col-md-2">
    <h3 [ngClass]="{'price-total-up': company.priceInc, 'price-total-down': !company.priceInc}">{{company.priceChange | percent:'2.2-2'}}</h3>
  </span> -->
</div>

<!-- <mat-card *ngIf="company" class="company-card" [style.background]="company.color">
  <mat-card-header>
    <div mat-card-avatar class="card-change-price" [ngClass]="{'price-change-up': company.priceInc, 'price-change-down': !company.priceInc}">
      {{company.priceChange | percent:'2.2-2'}}
    </div>
    <mat-card-title>
      <strong>Current Price:</strong> {{company.price | currency: 'INR' : 'symbol'}}
    </mat-card-title>
    <mat-card-subtitle>
      {{company.time | date: 'dd MMM, y HH:mm'}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card> -->

<div class="" *ngFor="let info of announcements; index as i;">
  <mat-card class="company-announcements" *ngIf="i !== 10">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="card-change-price" [ngClass]="{'price-change-up': info.priceInc, 'price-change-down': !info.priceInc}">
        {{info.priceChange | percent:'2.2-2'}}
      </div>
      <mat-card-title>
        <a [href]="info.docLink" color="primary" [class.disabled]="!info.docLink">{{info.title}}</a>
      </mat-card-title>
      <mat-card-subtitle>
        <span [matTooltip]="info.tooltipTime" matTooltipPosition="below">{{info.announceTime}}</span>
        <mat-chip-list class="source-chip">
          <mat-chip class="announcement-tag" [ngClass]="{'portfolio-card': info.source === 'PORTFOLIO'}">
            {{info.source}}
          </mat-chip>
          <mat-chip class="announcement-tag" color="accent" selected="true" *ngFor="let tag of info.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h5>
        <strong>Price: </strong>{{info.announcePrice | currency: 'INR': 'symbol'}} </h5>
      {{info.description}}
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)"></mat-paginator>