<app-menu page="Announcement Verification"></app-menu>

<mat-button-toggle-group #group="matButtonToggleGroup" (change)="ChangeGroup($event)" class="group-toggle-button">
  <mat-button-toggle value="true" class="group-button">
    Verified
  </mat-button-toggle>
  <mat-button-toggle value="false" [checked]=true class="group-button">
    Non Verified
  </mat-button-toggle>
</mat-button-toggle-group>

<div class="" *ngFor="let info of announcements; index as i;">
  <mat-card class="company-announcements">
    <mat-card-header class="card-header">
      <mat-card-title>
        <a [href]="info.docLink" color="primary" [class.disabled]="!info.docLink">{{info.title}}</a>
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{info.announceTime | date: 'dd MMM y HH:mm'}}</span>
        <mat-chip-list class="source-chip">
          <mat-chip selected="true" color="primary">
              {{info.source}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h5>
        <strong>Price: </strong>{{info.announcePrice | currency: 'INR': 'symbol'}} </h5>
      {{info.description}}
    </mat-card-content>
    <mat-card-actions *ngIf="info.announcementComprehends">
      <mat-button-toggle-group (change)="ChangeStatus(info, $event)" class="group-toggle-button" *ngIf="!info.verified">
        <mat-button-toggle [value]=true class="keep-button">
          Keep
        </mat-button-toggle>
        <mat-button-toggle [value]=false class="discard-button">
          Discard
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group (change)="ChangeStatus(info, $event)" class="group-toggle-button" *ngIf="info.verified">
          <mat-button-toggle [value]=true [checked]="info.announcementComprehends.keep" class="keep-button">
            Keep
          </mat-button-toggle>
          <mat-button-toggle [value]=false [checked]="!info.announcementComprehends.keep" class="discard-button">
            Discard
          </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>

<h2 *ngIf="announcements && announcements.length === 0" class="no-announcements">
  No Announcements
</h2>

<mat-paginator
    #announcementPaginator
    [length]="pageLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChange($event)"
>
</mat-paginator>
