a.disabled {
  pointer-events: none;
  cursor: default;
}

.company-announcements{
  margin:10px;
  padding: 16px 24px 16px;
}

.card-header{
  margin-left: -9px;
}

.mat-button-toggle-group,
.no-announcements{
  margin: 10px;
}

.group-button.mat-button-toggle-checked{
  background-color: gold;
}

.keep-button.mat-button-toggle-checked{
  background-color: lightgreen;
}

.discard-button.mat-button-toggle-checked{
  background-color: rgba(255, 0, 0, 0.418);
}

.keep-radio-group{
  margin-left: 16px;
}

.source-chip{
  display: -webkit-inline-box;
}
