<app-menu></app-menu>

<!-- TradingView Widget BEGIN -->
<div class="trading-chart" id="tradingview_52ec5"></div>
<div class="not-real-time-data">
  <small>* This is not real time data</small>
</div>
<!-- TradingView Widget END -->

<div class="announcements">
  <h3 class="announcement-header" *ngIf="announcements.length">
    Announcements
    <a mat-button class="view-all-button pull-right" color="primary" routerLink="/announcements/{{companyId}}">View All</a>
  </h3>
  <mat-card class="company-announcements mat-elevation-z0" *ngFor="let info of announcements">
    <mat-card-header class="card-header">
      <mat-card-title>
        <a [href]="info.docLink" color="primary" [class.disabled]="!info.docLink">{{info.title}}</a>
      </mat-card-title>
      <mat-card-subtitle>
        <span [matTooltip]="info.tooltipTime" matTooltipPosition="below">{{info.announceTime}}</span>
        <mat-chip class="announcement-tag">
          {{info.source}}
        </mat-chip>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <h5>
        <strong>Price: </strong>{{info.announcePrice | currency: 'INR': 'symbol'}} </h5> -->
      {{info.description}}
    </mat-card-content>
  </mat-card>
</div>