/* .trading-chart{
  margin-top: 16px;
} */

.company-announcements{
  margin:10px;
  padding: 16px 24px 16px;
  /* box-shadow: none; */
}

.announcements {
  background-color: #f9f9f9;  
  padding: 10px;
}

.announcement-tag{
  padding: 0px 10px !important;
  font-size: 10px;
  border-radius: 5px !important;
}

.announcement-header{
  margin-bottom: 20px;
}

.view-all-button:hover {
  text-decoration: none;
}

.not-real-time-data{
  padding: 10px;
}
