/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~@ngx-share/button/styles/share-buttons.css';

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


#loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
  }

  .spinner{
      top: 35%;
      left: 45%;
  }

  .investLoop-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .public-action-menu > div,
  .menu-mobile-menu > div{
    padding: 0;
  }

.mobile-menu-list{
  padding: 0 !important;
}

.mat-icon:hover{
  cursor: pointer;
}

* {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.swal-footer{
  text-align: inherit !important;
}

.swal-button.swal-button--confirm{
  background-color: #1ca7e9 !important;
}
